html { 
  font-size: calc( 15px + 0.390625vw ); 
  font-family: arial,sans-serif;
  min-height: 100%;

  a{
    text-decoration: none;
  }
}

body{
  background: linear-gradient(45deg, rgb(76, 61, 129), rgb(209, 148, 175));
  margin: 0;
}

.container{
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (min-width: 1024px){
    position: relative;
    left: 0;
    right: 0;
    top: 45%;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

